@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div id="news">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit lectus sit amet orci pharetra consectetur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc bibendum turpis mattis, rutrum massa sit amet, lacinia diam. Etiam porttitor finibus ultricies. Maecenas malesuada et enim ac posuere. Morbi vel orci fringilla, condimentum nulla eget, rhoncus magna. In id hendrerit felis. Phasellus scelerisque at lorem sit amet bibendum. Integer lectus nunc, gravida a lacus sed, tristique ultricies ligula. Pellentesque erat est, vulputate ut nibh auctor, pellentesque dignissim nulla. Aenean sed ante sit amet nisi placerat interdum vitae non justo. Integer id nisl lacus.

        Nunc sollicitudin lacus at diam vulputate, sed semper dolor sodales. Nunc nec ipsum vitae magna viverra tempor eget sed justo. Aliquam in condimentum neque, ut egestas est. Cras non libero vitae metus tristique luctus. Curabitur consequat nulla eu mi elementum, at luctus dui laoreet. Vestibulum gravida, diam a tincidunt volutpat, enim felis vulputate libero, et gravida ante diam a ante. Proin vel sem eu leo lobortis lobortis. In quis enim arcu. Nullam ut magna sed tortor luctus blandit. Ut pharetra ultrices arcu sit amet scelerisque. Praesent hendrerit dui ut augue imperdiet, sed mollis mauris faucibus. Maecenas non arcu vitae orci commodo rhoncus.

        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla vestibulum, eros at vehicula viverra, libero arcu viverra lectus, quis tempor leo orci eget diam. Pellentesque ac velit nec ante aliquet consectetur. Nam vel dolor pharetra, vulputate nisi vitae, congue nunc. Nam tristique posuere mauris id ullamcorper. Vestibulum pulvinar lorem nec nunc consectetur varius. Praesent id nibh sit amet augue ornare mattis.

        Aenean dapibus placerat tortor ac malesuada. Maecenas mattis molestie nisl non gravida. Cras et lacus et nunc porttitor mattis. Maecenas id nisl sed erat vestibulum sollicitudin at quis lectus. Integer velit lacus, congue in metus a, porttitor tempus nisi. Curabitur sapien ante, tincidunt vel leo in, luctus aliquam odio. Donec urna nibh, varius et eros ut, porta congue justo. Vestibulum malesuada quam orci, eu pulvinar felis molestie a. Vivamus condimentum ante arcu, ornare suscipit metus pellentesque maximus. Cras varius libero at ornare facilisis. Fusce tempor, nisl vitae efficitur tempus, magna nulla aliquam erat, sed lacinia lorem erat sit amet quam. Praesent dapibus libero vel tristique placerat. Etiam iaculis euismod odio ac tincidunt. Mauris vel varius tellus. Ut tempus condimentum facilisis.
    </p>
</div>
