@*
   Luam orare de la noi si le punem aici hardcodat. Pagina sa arate cum e in mockup
*@
@{
}

<p>
Calculatoare Engleza
</p>
<table class="table">
    <thead>
        <tr>
            <th>Year 1 Semester 1</th>
            <th>Year 1 Semester 2</th>
            <th>Year 2 Semester 1</th>
            <th>Year 2 Semester 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="~/doc/Timetables/Calculatoare_Engleza_An1_Sem1.pdf">Download PDF</a></td>
            <td><a href="~/doc/Timetables/Calculatoare_Engleza_An1_Sem2.pdf">Download PDF</a></td>
            <td><a href="~/doc/Timetables/Calculatoare_Engleza_An2_Sem1.pdf">Download PDF</a></td>
            <td><a href="~/doc/Timetables/Calculatoare_Engleza_An2_Sem2.pdf">Download PDF</a></td>
        </tr>
    </tbody>
</table>

